.container {
  background-color: #f2f4f8;
  grid-column: center-start / center-end;
  padding: 6rem 0;
}

.header {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.emailInput {
  font-family: inherit;
  font-weight: inherit;
  font-weight: 400;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  height: 5rem;
  width: 100%;
  padding: 0 4rem;

  background: url('../assets/svg/personIcon.svg') #ffffff 1% center no-repeat;
}

.form {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 4rem;
}

.links {
  display: flex;
  justify-content: space-between;
}

.signInLink {
  font-size: 1.6rem;
  font-weight: 600;
  align-items: center;
  display: flex;
  color: #e20074;
  text-decoration: none;
}

.resendButton {
  align-items: center;
  background: #e20074;
  border: none;
  border-radius: 2rem;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.8rem 4rem;
}

@media only screen and (max-width: 75em) {
  .container {
    padding: 12rem 0;
  }
}

@media only screen and (max-width: 56.25em) {
  .container {
    grid-column: center-start / center-end;
  }
}

@media only screen and (max-width: 30em) {
  .header {
    font-size: 2.5rem;
  }

  .links {
    flex-direction: column;
    align-items: center;
  }

  .resendButton {
    font-size: 1.4rem;
  }

  .signInLink {
    margin-top: 2rem;
  }
}
