.container {
  background-color: #f2f4f8;

  /* display: grid; */
  grid-column: center-start / center-end;
  padding: 6rem 0;
}

.grid {
  display: grid;
  gap: 3rem 3rem;
  grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 56.25em) {
  .container {
    grid-column: center-start / center-end;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 37.5em) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* @media only screen and (max-width: 37.5em) {
}

@media only screen and (max-width: 25.875em) {
}

@media only screen and (max-width: 20em) {
} */
