.container {
  grid-column: full-start / full-end;
  display: none;
  padding: 2rem 3rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 1000;
}

.titleLink {
  color: #000;
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 600;
}

@media only screen and (max-width: 75em) {
  .container {
    display: block;
    background-color: #fff;
  }
}
