@keyframes loadingSpinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  align-items: center;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5000;
}

.spinner {
  animation: loadingSpinner 1s linear infinite;
  border: 8px solid;
  border-color: #e20074 transparent #e20074 transparent;
  border-radius: 50%;
  height: 18rem;
  width: 18rem;
}
