.container {
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 -1;
  height: 100vh;
  justify-content: space-between;
  padding: 4rem 0;
  position: fixed;
  width: 20vw;
  z-index: 1000;
}

.navbar {
  margin-top: 0.75rem;
  width: 100%;
}

.title {
  color: #000;
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 5rem;
  padding-left: 4rem;
  text-decoration: none;
}

.list {
  display: flex;
  flex-direction: column;
  height: 35rem;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.item,
.itemActive {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 3rem;
}

.itemActive {
  background-color: #e20074;
  color: #fff !important;
  transition: all 0.2s;
}

.icon {
  margin-right: 2rem;
}

.name {
  color: #8f8f8f;
}

.active {
  color: #fff;
  transition: all 0.2s;
}

@media only screen and (max-width: 75em) {
  .container {
    background-color: #ffffff;
    bottom: 0;
    height: max-content;
    left: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
  }

  .title {
    display: none;
  }

  .navbar {
    margin-top: 0;
    width: 100%;
  }

  .list {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .item,
  .itemActive {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    width: 100%;
    padding: 1rem 0;
  }

  .icon {
    margin-bottom: 0.4rem;
    margin-right: 0;
  }

  .whiteSpace {
    display: none;
  }
}

@media only screen and (max-width: 37.5em) {
  .icon {
    margin: 0 auto;
    width: 22px;
  }
}
