.postDiv {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.profileDiv {
  align-items: center;
  background-color: #fff;

  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 1rem;
}

.postIcon {
  cursor: pointer;
}

.postIcon:not(:last-child) {
  margin-right: 0.8rem;
}

.profileImgDiv {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
  margin-right: 1rem;
}

.userInfo {
  align-items: center;
  display: flex;
}

.profileName {
  font-weight: 500;
}

.imgDiv {
  display: flex;
}

.img {
  width: 100%;
}

.infoDiv {
  background-color: #fff;
  position: relative;
}

.infoName {
  background-color: #e20074;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 1rem 0;

  text-align: center;
  width: 100%;
}

.infoDesc {
  margin: 0 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  height: 10rem;
  text-align: left;

  padding: 2rem 1rem;
  justify-content: space-between;
}

.infoText {
  margin-bottom: 1rem;
}

.infoDate {
  color: var(--grey);
  font-size: 1.2rem;
  font-weight: 600;
}
