@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.app {
  display: grid;
  /* Might not be needed */

  grid-template-columns:
    [full-start] minmax(auto, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 1fr) [col-end])
    [center-end] 1fr [full-end];
}

:root {
  --primary: #0082c8;
  --white: #fff;
  --black: #000;
  --grey: #8f8f8f;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f2f4f8;
  margin: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
}

/* Might Change This Later */
@media only screen and (max-width: 56.25em) {
  body {
    padding-bottom: 10rem;
  }
}
