@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: grid;

  grid-template-columns:
    [sidebar-start] 20vw [sidebar-end full-start] minmax(auto, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 1fr) [col-end])
    [center-end] 1fr [full-end];
}

:root {
  --primary: #e20074;
  --white: #fff;
  --black: #000;
  --washed: #f2f4f8;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f2f4f8;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  margin: 0;
}

@media only screen and (max-width: 75em) {
  .app {
    display: grid;
    grid-template-columns:
      [full-start]
      minmax(auto, 1fr)
      [center-start] repeat(8, [col-start] minmax(min-content, 1fr) [col-end])
      [center-end] 1fr [full-end];
  }
}
